body {

 font-family: Arial, sans-serif;

 background-color: #f4f4f4;

 text-align: center;

 padding: 20px;

}

h2 {

 color: #2c3e50;

}

h3 {

 color: #34495e;

}

p {

 font-size: 18px;

 color: #333;

}

.highlight {

 color: #e74c3c;

 font-weight: bold;

 background-color: #fff3cd;

 padding: 2px 6px;

 border-radius: 4px;

}

img {

opacity:0.1;

 margin-top: 20px;

 border: 2px solid #ccc;

 border-radius: 8px;

}

.image1{

opacity:0.5;

 margin-top: 20px;

 border: 2px solid #ccc;

 border-radius: 8px;

}

.image2{

opacity:1;

 margin-top: 20px;

 border: 2px solid #ccc;

 border-radius: 8px;

}

a:hover{

background-color:pink;

font-size:69px;

}

#para1{

text-align:center;

color:Blue;

}

